* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  padding: 20px;
  background: linear-gradient(90deg, rgba(222,222,222,1) 49%, rgba(138,138,138,0.5382528011204482) 100%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 5px solid #707070ba;
}

.header__title {
  text-align: center;
}

.nav {
  position: absolute;
}